* {
  font-family: "Gill Sans", "Gill Sans MT";
  margin: 0px;
}

body {
  background-color: white;
}

header {
  margin-left: 15px;
}

header h1 {
  font-size: 50px;
}

header p {
  margin-bottom: 25px;
}

.product {
  border: 1px gray solid;
  margin: 10px;
  padding: 10px;
  background-color: #e2e2d8;
  width: 400px;
  display: inline-block;
}

.product h2 {
  border: 2px gray dotted;
  margin: 0px;
  padding: 5px;
  font-size: 30px;
}

.product button {
  background-color: #014d08;
  color: white;
  border-radius: 15px;
  align-items: center;
  width: 100%;
  height: 30px;
  font-size: medium;
}

.product button:hover {
  background-color: #6bda6b;
  color: black;
  border-radius: 10px;
}

.sale-price {
  font-size: 30px;
  color: green;
  margin-top: 10px;
}

.sale-price s {
  font-size: 20px;
  color: #454545;
}
